In [5]:
import pandas as pd

In [6]:
data = pd.read_csv('concept_drift/transactions.csv')

In [7]:
data

,tran_id,orig_acct,bene_acct,tx_type,base_amt,tran_timestamp,is_sar,alert_id
0,1,625,961,DEPOSIT,496.18,2020-01-01T00:00:00Z,False,-1
1,2,666,187,TRANSFER,115.48,2020-01-01T00:00:00Z,True,33
2,3,666,949,DEPOSIT,282.02,2020-01-01T00:00:00Z,False,-1
3,4,20,676,TRANSFER,249.51,2020-01-01T00:00:00Z,False,-1
4,5,598,478,CASH_OUT,861.32,2020-01-01T00:00:00Z,False,-1
...,...,...,...,...,...,...,...,...
55780,18582,907,438,TRANSFER,9694.38,2020-12-31T00:00:00Z,False,-1
55781,18583,103,642,CASH_IN,3974.72,2020-12-31T00:00:00Z,False,-1
55782,18584,919,993,CASH_OUT,5215.14,2020-12-31T00:00:00Z,False,-1
55783,18585,180,245,CASH_IN,2852.54,2020-12-31T00:00:00Z,False,-1
55784,18586,487,215,CASH_OUT,9925.66,2020-12-31T00:00:00Z,False,-1

In [8]:
data[data.is_sar == True]

,tran_id,orig_acct,bene_acct,tx_type,base_amt,tran_timestamp,is_sar,alert_id
1,2,666,187,TRANSFER,115.48,2020-01-01T00:00:00Z,True,33
5,6,24,185,PAYMENT,147.02,2020-01-01T00:00:00Z,True,4
14,15,985,310,TRANSFER,179.96,2020-01-01T00:00:00Z,True,12
23,24,746,768,PAYMENT,131.50,2020-01-01T00:00:00Z,True,2
24,25,376,349,TRANSFER,192.97,2020-01-01T00:00:00Z,True,15
...,...,...,...,...,...,...,...,...
55325,18127,604,138,TRANSFER,97.11,2020-12-28T00:00:00Z,True,49
55485,18287,32,136,TRANSFER,87.40,2020-12-29T00:00:00Z,True,49
55589,18391,707,79,TRANSFER,46.34,2020-12-30T00:00:00Z,True,32
55646,18448,837,32,DEPOSIT,78.66,2020-12-30T00:00:00Z,True,49
55647,18449,136,916,CASH_IN,70.80,2020-12-30T00:00:00Z,True,49

# ????