In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('concept_drift/transactions.csv')

In [3]:
data

,tran_id,orig_acct,bene_acct,tx_type,base_amt,tran_timestamp,is_sar,alert_id
0,1,71,973,DEPOSIT,784.07,2020-01-01T00:00:00Z,False,-1
1,2,209,355,TRANSFER,128.20,2020-01-01T00:00:00Z,False,-1
2,3,140,799,TRANSFER,301.91,2020-01-01T00:00:00Z,False,-1
3,4,493,250,CASH_IN,247.70,2020-01-01T00:00:00Z,False,-1
4,5,408,519,TRANSFER,861.32,2020-01-01T00:00:00Z,False,-1
...,...,...,...,...,...,...,...,...
55395,18454,478,4,TRANSFER,9116.30,2020-12-31T00:00:00Z,False,-1
55396,18455,624,713,DEPOSIT,8648.39,2020-12-31T00:00:00Z,False,-1
55397,18456,780,67,TRANSFER,5876.81,2020-12-31T00:00:00Z,False,-1
55398,18457,976,327,TRANSFER,6527.28,2020-12-31T00:00:00Z,False,-1
55399,18458,53,963,DEPOSIT,6622.72,2020-12-31T00:00:00Z,False,-1

In [4]:
data[data.is_sar == True]

,tran_id,orig_acct,bene_acct,tx_type,base_amt,tran_timestamp,is_sar,alert_id
5,6,670,508,CASH_OUT,181.03,2020-01-01T00:00:00Z,True,6
18,19,2,188,CASH_OUT,150.71,2020-01-01T00:00:00Z,True,0
37,38,831,655,TRANSFER,175.19,2020-01-01T00:00:00Z,True,15
42,43,533,669,TRANSFER,195.60,2020-01-01T00:00:00Z,True,9
45,46,808,207,TRANSFER,114.23,2020-01-01T00:00:00Z,True,10
...,...,...,...,...,...,...,...,...
53609,16668,571,443,DEPOSIT,128.09,2020-12-19T00:00:00Z,True,47
54301,17360,768,208,CASH_IN,76.64,2020-12-24T00:00:00Z,True,36
54302,17361,537,770,TRANSFER,68.98,2020-12-24T00:00:00Z,True,36
54797,17856,443,516,CASH_IN,115.28,2020-12-27T00:00:00Z,True,47
55129,18188,93,403,DEBIT,103.76,2020-12-30T00:00:00Z,True,47

# ????