# Realizando o Undersampling da Base de Dados

Fazendo um undersampling simples para equilibrar a presen√ßa de fraudes na base de dados em 50%.

In [2]:
import pandas as pd

In [3]:
transactions = pd.read_csv('new_1M/transactions.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'new_1M/transactions.csv'

In [4]:
transactions

NameError: name 'transactions' is not defined

In [101]:
len(transactions[transactions['isSAR'] == True])

693

In [102]:
sample_falses = transactions[transactions['isSAR'] == False].sample(1039)

In [103]:
len(sample_falses.sort_values(by=['step']).step.unique())

200

In [1]:
transactions[(transactions.index.isin(sample_falses.index))]

NameError: name 'transactions' is not defined

In [61]:
sample_falses = sample_falses.reset_index()
transactions = transactions.reset_index()

In [110]:
balanced = transactions[(transactions['isSAR'] == True) | (transactions.index.isin(sample_falses.index))]

In [111]:
balanced

,step,type,amount,nameOrig,oldbalanceOrig,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isSAR,alertID
16,0,TRANSFER,768.52,9128,63540.91,62772.38,35,66900.31,67668.84,1,22
24,0,TRANSFER,564.96,4650,63992.01,63427.05,376,73429.79,73994.76,1,0
43,0,TRANSFER,988.90,6492,59406.82,58417.92,105,82521.53,83510.44,1,1
56,0,TRANSFER,337.24,896,58916.75,58579.50,25,68471.10,68808.35,0,-1
87,0,TRANSFER,132.40,3207,88289.99,88157.58,531,95537.18,95669.59,1,13
...,...,...,...,...,...,...,...,...,...,...,...
67623,198,TRANSFER,463.41,566,39982.01,39518.60,116,99391.39,99854.80,0,-1
67631,198,TRANSFER,869.75,546,45207.35,44337.59,24,610476.37,611346.12,0,-1
67793,199,TRANSFER,428.89,4438,48460.05,48031.16,14,658341.87,658770.75,0,-1
67952,199,TRANSFER,424.41,2188,99740.56,99316.14,4496,50701.06,51125.48,1,81
68034,199,TRANSFER,133.65,2497,14203.10,14069.45,327,84590.40,84724.05,0,-1

In [112]:
balanced_account_set = set(balanced['nameOrig'].values.tolist() + balanced['nameDest'].values.tolist())

In [113]:
len(balanced_account_set)

1654

In [114]:
accounts = pd.read_csv('new_1M/accounts.csv')

In [115]:
accounts

,acct_id,dsply_nm,type,acct_stat,acct_rptng_crncy,prior_sar_count,branch_id,open_dt,close_dt,initial_deposit,...,street_addr,city,state,country,zip,gender,birth_date,ssn,lon,lat
0,0,C_0,I,A,USD,False,1,0,1000000,83514.28,...,48764 Howard Forge Apt. 421,Vanessaside,PA,US,19763,Female,2021-12-27,701-43-7736,120.547683,-62.968225
1,1,C_1,I,A,USD,True,1,0,1000000,79773.83,...,387 Grimes Green Apt. 801,Pagetown,NM,US,44165,Male,1914-10-23,196-73-3633,-51.894050,-51.749453
2,2,C_2,I,A,USD,False,1,0,1000000,68338.65,...,15871 Arnold Squares Apt. 858,Port Carrie,LA,US,58826,Male,1949-05-22,590-31-4757,-81.286230,-39.160654
3,3,C_3,I,A,USD,False,1,0,1000000,70199.02,...,471 Erika Curve,North Megan,UT,US,71358,Female,1977-08-19,283-67-3859,-64.464688,68.323549
4,4,C_4,I,A,USD,True,1,0,1000000,90042.39,...,477 Miller Ridge Apt. 795,East Allen,DE,US,92950,Male,1951-07-01,437-08-1649,-101.424385,-31.273420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12038,12038,C_12038,I,A,USD,False,1,0,1000000,97535.02,...,465 Jones Corners,Vasquezville,CT,US,64754,Female,1919-10-24,837-57-2223,-173.105523,-4.703172
12039,12039,C_12039,I,A,USD,False,1,0,1000000,54741.84,...,461 Rodriguez Heights,Johnsonmouth,CO,US,61585,Female,2004-06-30,024-87-3981,-149.528693,-40.623546
12040,12040,C_12040,I,A,USD,False,1,0,1000000,89682.42,...,542 Price Neck Suite 716,New Charlesfurt,MT,US,87030,Male,1971-05-31,032-24-0745,103.724034,-82.369435
12041,12041,C_12041,I,A,USD,False,1,0,1000000,54801.09,...,233 Lisa Locks,Martinfort,KS,US,80840,Male,1910-02-05,440-56-4496,-110.818394,-40.116355
12042,12042,C_12042,I,A,USD,False,1,0,1000000,97179.11,...,4969 Maldonado Wall,Port Philipfurt,PA,US,49385,Female,1954-02-12,196-01-7163,82.808151,-65.049218

In [116]:
new_account_set = accounts[accounts['acct_id'].isin(balanced_account_set)]

In [117]:
new_account_set

,acct_id,dsply_nm,type,acct_stat,acct_rptng_crncy,prior_sar_count,branch_id,open_dt,close_dt,initial_deposit,...,street_addr,city,state,country,zip,gender,birth_date,ssn,lon,lat
0,0,C_0,I,A,USD,False,1,0,1000000,83514.28,...,48764 Howard Forge Apt. 421,Vanessaside,PA,US,19763,Female,2021-12-27,701-43-7736,120.547683,-62.968225
1,1,C_1,I,A,USD,True,1,0,1000000,79773.83,...,387 Grimes Green Apt. 801,Pagetown,NM,US,44165,Male,1914-10-23,196-73-3633,-51.894050,-51.749453
2,2,C_2,I,A,USD,False,1,0,1000000,68338.65,...,15871 Arnold Squares Apt. 858,Port Carrie,LA,US,58826,Male,1949-05-22,590-31-4757,-81.286230,-39.160654
3,3,C_3,I,A,USD,False,1,0,1000000,70199.02,...,471 Erika Curve,North Megan,UT,US,71358,Female,1977-08-19,283-67-3859,-64.464688,68.323549
4,4,C_4,I,A,USD,True,1,0,1000000,90042.39,...,477 Miller Ridge Apt. 795,East Allen,DE,US,92950,Male,1951-07-01,437-08-1649,-101.424385,-31.273420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11991,11991,C_11991,I,A,USD,True,1,0,1000000,69783.44,...,9028 Wallace Shore,Bowenchester,KS,US,17475,Female,1962-05-30,398-27-4668,-23.362833,86.110448
11994,11994,C_11994,I,A,USD,True,1,0,1000000,72809.19,...,57803 Regina Forks,North Robinberg,LA,US,4144,Male,1981-09-08,395-87-6150,-175.556450,-35.996330
11998,11998,C_11998,I,A,USD,True,1,0,1000000,60185.16,...,1890 Andrew Oval Apt. 023,Hernandezshire,NH,US,91061,Male,2012-07-10,728-94-7531,-100.856811,-36.180856
12007,12007,C_12007,I,A,USD,True,1,0,1000000,54769.21,...,79846 Ramirez Overpass,Port Ellenburgh,SD,US,68087,Male,1949-06-12,452-01-9601,-101.595697,-7.761126
12008,12008,C_12008,I,A,USD,True,1,0,1000000,89046.45,...,39792 Joshua Way Apt. 399,Hickston,IN,US,81478,Female,1927-01-13,451-84-8613,-116.069517,-67.468283

In [118]:
new_account_set = new_account_set.reset_index(drop=True).reset_index()

In [119]:
new_account_set = new_account_set.rename(columns={'index': 'NEW_ACC_ID'})

In [120]:
new_account_set['NEW_CUSTOMER_ID'] = 'C_' + new_account_set['dsply_nm'].astype(str)

In [121]:
new_account_set

,NEW_ACC_ID,acct_id,dsply_nm,type,acct_stat,acct_rptng_crncy,prior_sar_count,branch_id,open_dt,close_dt,...,city,state,country,zip,gender,birth_date,ssn,lon,lat,NEW_CUSTOMER_ID
0,0,0,C_0,I,A,USD,False,1,0,1000000,...,Vanessaside,PA,US,19763,Female,2021-12-27,701-43-7736,120.547683,-62.968225,C_C_0
1,1,1,C_1,I,A,USD,True,1,0,1000000,...,Pagetown,NM,US,44165,Male,1914-10-23,196-73-3633,-51.894050,-51.749453,C_C_1
2,2,2,C_2,I,A,USD,False,1,0,1000000,...,Port Carrie,LA,US,58826,Male,1949-05-22,590-31-4757,-81.286230,-39.160654,C_C_2
3,3,3,C_3,I,A,USD,False,1,0,1000000,...,North Megan,UT,US,71358,Female,1977-08-19,283-67-3859,-64.464688,68.323549,C_C_3
4,4,4,C_4,I,A,USD,True,1,0,1000000,...,East Allen,DE,US,92950,Male,1951-07-01,437-08-1649,-101.424385,-31.273420,C_C_4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1649,1649,11991,C_11991,I,A,USD,True,1,0,1000000,...,Bowenchester,KS,US,17475,Female,1962-05-30,398-27-4668,-23.362833,86.110448,C_C_11991
1650,1650,11994,C_11994,I,A,USD,True,1,0,1000000,...,North Robinberg,LA,US,4144,Male,1981-09-08,395-87-6150,-175.556450,-35.996330,C_C_11994
1651,1651,11998,C_11998,I,A,USD,True,1,0,1000000,...,Hernandezshire,NH,US,91061,Male,2012-07-10,728-94-7531,-100.856811,-36.180856,C_C_11998
1652,1652,12007,C_12007,I,A,USD,True,1,0,1000000,...,Port Ellenburgh,SD,US,68087,Male,1949-06-12,452-01-9601,-101.595697,-7.761126,C_C_12007
1653,1653,12008,C_12008,I,A,USD,True,1,0,1000000,...,Hickston,IN,US,81478,Female,1927-01-13,451-84-8613,-116.069517,-67.468283,C_C_12008

In [122]:
keys = new_account_set.acct_id.values
values = new_account_set.NEW_ACC_ID.values

parse_keys = {}

for k, v in zip(keys, values):
    parse_keys[k] = v

In [123]:
def convert_to_new(line):
    line['nameOrig'] = parse_keys[line['nameOrig']]
    line['nameDest'] = parse_keys[line['nameDest']]
    return line

In [124]:
balanced = balanced.apply(convert_to_new, axis=1)

In [125]:
balanced

,step,type,amount,nameOrig,oldbalanceOrig,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isSAR,alertID
16,0,TRANSFER,768.52,1491,63540.91,62772.38,35,66900.31,67668.84,1,22
24,0,TRANSFER,564.96,1164,63992.01,63427.05,283,73429.79,73994.76,1,0
43,0,TRANSFER,988.90,1330,59406.82,58417.92,99,82521.53,83510.44,1,1
56,0,TRANSFER,337.24,541,58916.75,58579.50,25,68471.10,68808.35,0,-1
87,0,TRANSFER,132.40,994,88289.99,88157.58,381,95537.18,95669.59,1,13
...,...,...,...,...,...,...,...,...,...,...,...
67623,198,TRANSFER,463.41,404,39982.01,39518.60,110,99391.39,99854.80,0,-1
67631,198,TRANSFER,869.75,394,45207.35,44337.59,24,610476.37,611346.12,0,-1
67793,199,TRANSFER,428.89,1146,48460.05,48031.16,14,658341.87,658770.75,0,-1
67952,199,TRANSFER,424.41,677,99740.56,99316.14,1153,50701.06,51125.48,1,81
68034,199,TRANSFER,133.65,742,14203.10,14069.45,254,84590.40,84724.05,0,-1

In [126]:
new_account_set.acct_id = new_account_set.NEW_ACC_ID
new_account_set.dsply_nm = new_account_set.NEW_CUSTOMER_ID

In [127]:
new_account_set = new_account_set.drop(['NEW_ACC_ID', 'NEW_CUSTOMER_ID'],axis=1)

In [128]:
new_account_set.to_csv('new_1M/accounts_undersampling.csv')
balanced.to_csv('new_1M/transactions_undersampling.csv')